---
---

@import "{{ site.theme }}";

// Variables
$sans: 'Montserrat', sans-serif;
$light_gray: #d1d3d4;
$dark_gray: #414042;
$gray: #bcbec0;
$white: #ffffff;

// Mixins
@mixin transition( $property:all, $duration:300ms, $func:ease ){
	-webkit-transition: $property $duration $func;
	-moz-transition: $property $duration $func;
	-ms-transition: $property $duration $func;
	-o-transition: $property $duration $func;
	transition: $property $duration $func;
}

// Header
header{
	padding: 2em;
	font-family: $sans;
	font-weight:300;
	background-color: $dark_gray;
	color:$white;
	.title_col h1{
		//text-transform: uppercase;
		letter-spacing: 0.08em;
		font-size:1rem;
		font-weight:600;
		text-transform:uppercase;
		margin:0;
		line-height:1;
		span{display:block;}
	}
}


// Content
.page-header{
	background-color:$dark_gray;
	background-image:none;
}
@media screen and (min-width: 64em){
	.page-header {padding: 5rem 30rem;}
}
.contact-box{text-align:center;}
.item{
	margin-bottom:2em;
}
.img-box{
	a{
		display:block;
		opacity:0.8;
		&:hover, &:focus{
			opacity:1;
			@include transition();
		}
	}
	img{max-width:100%;}
}
.video-box {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// Footer
.site-footer{
	font-size:0.8rem;
	text-align:center;
}
