---
---

@import "{{ site.theme }}";

// Variables
$sans: 'Montserrat', sans-serif;
$light_gray: #d1d3d4;
$dark_gray: #414042;


header{
	padding: 2em;
	font-family: $sans;
	font-weight:300;
	background-color: $dark_gray;
	color:$light_gray;
	.title_col h1{
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size:1rem;
		margin:0;
	}
}