<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header>
      <div class="title_col"><h1><span>Lloyd</span><span>Vicencio</span></h1></div>
    </header>
    <section class="page-header">
      <div class="item video-box">
        <iframe src="https://www.youtube.com/embed/GpLNKd7G3nw?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="item video-box">
        <iframe src="https://www.youtube.com/embed/bBW0w-68c3w?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="item video-box"><iframe src="https://www.youtube.com/embed/mD-pnWnHP9U?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>

      <div class="item video-box"><iframe src="https://www.youtube.com/embed/R8QpmGgrZYk?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>

      <div class="item video-box"><iframe src="https://www.youtube.com/embed/iEg_hzDjaTc?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe></div>

    </section>

    <section class="main-content">
      
      <div class="contact-box">Contact me at 
        <script type="text/javascript" language="javascript">
        <!--
        // Email obfuscator script 2.1 by Tim Williams, University of Arizona
        // Random encryption key feature coded by Andrew Moulden
        // This code is freeware provided these four comment lines remain intact
        // A wizard to generate this code is at http://www.jottings.com/obfuscator/
        { coded = "33fehX@DEVM3.1fE"
          key = "kVpq2fDymKlYXtPLdr9U5GxeEI3Q0ZCTh7AnRSHiscBbFW8aw4uogjOMN1vJ6z"
          shift=coded.length
          link=""
          for (i=0; i<coded.length; i++) {
            if (key.indexOf(coded.charAt(i))==-1) {
              ltr = coded.charAt(i)
              link += (ltr)
            }
            else {     
              ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
              link += (key.charAt(ltr))
            }
          }
        document.write("<a href='mailto:"+link+"'>"+link+"</a>")
        }
        //-->
        </script><noscript>Sorry, you need Javascript on to email me.</noscript>
      </div>

      <footer class="site-footer">
        <p>Disclaimer: Ownership of individual projects are held by their respective copyright holders.</p>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
